<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-9 col-lg-12">

            <h1>Editar perfil</h1>
            <hr>

            <form action="/users/mi-perfil/editar/{{currentuserid}}" method="POST" enctype="multipart/form-data">
                <div class="row">

                    <div class="mb-3 col-lg-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value='{{email}}'>
                    </div>

                    <div class="mb-3 col-lg-4">
                        <label for="imageUrl" class="form-label">Foto de perfil</label>
                        <input type="file" class="form-control" id="imageUrl" name="imageField" value='{{imageField}}'>
                    </div>

                    <div class="mb-3 col-md-5 col-lg-4">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" value='{{name}}'>
                    </div>

                    <div class="mb-3 col-md-7 col-lg-4">
                        <label for="lastname" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value='{{lastname}}'>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-4">
                        <label for="birthDate" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="birthDate" name="birthDate" value='{{birthDate}}'>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-4">
                        <label for="idDocument" class="form-label">DNI/NIE</label>
                        <input type="text" class="form-control" id="idDocument" name="idDocument"
                            value='{{idDocument}}'>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-4">
                        <label for="nationality" class="form-label">Nacionalidad</label>
                        <input type="text" class="form-control" id="nationality" name="nationality"
                            value='{{nationality}}'>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-4">
                        <label for="phoneNumber" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                            value='{{phoneNumber}}'>
                    </div>
                    {{!-- RESPONSIVE HASTA AQUÍ --}}
                    <div class="mb-3 col-md-6">
                        <label for="addresInfo" class="form-label">Dirección completa</label>
                        <input type="text" class="form-control" id="addresInfo" name="addresInfo"
                            value='{{addresInfo}}'>
                        <div id="addresInfo" class="form-text">Ej.: C/Violeta 4, Escalera 2, Piso 3 Puerta A</div>
                    </div>

                    <div class="mb-3 col-md-3">
                        <label for="province" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="province" name="province" value='{{province}}'>
                    </div>

                    <div class="mb-3 col-md-3">
                        <label for="city" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="city" name="city" value='{{city}}'>
                    </div>

                    <div class="mb-3 col-md-3">
                        <label for="zipCode" class="form-label">Código Postal</label>
                        <input type="text" class="form-control" id="zipCode" name="zipCode" value='{{zipCode}}'>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="username" class="form-label">Apodo</label>
                        <input type="text" class="form-control" id="username" name="username" value='{{username}}'>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="emergencyNumber" class="form-label">Teléfono contacto de emergencia</label>
                        <input type="tel" class="form-control" id="emergencyNumber" name="emergencyNumber"
                            value='{{emergencyNumber}}'>
                    </div>

                    <div>

                        <h5>Datos familiares</h5>

                        <div class="row">
                            <div class="col">
                                <label for="members" class="form-label">¿Cuántos miembros componen la unidad
                                    familiar?</label>
                                <input type="number" class="form-control" id="members" name="members"
                                    value='{{members}}'>
                            </div>
                            <div class="col">
                                <p>¿Menores a cargo?</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="childs">Sí</label>
                                    <input class="form-check-input" type="radio" id="childs" value="true" name="childs">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="childs">No</label>
                                    <input class="form-check-input" type="radio" id="childs" value="false"
                                        name="childs">
                                </div>
                            </div>
                            <div class="col">
                                <p>¿Personas con discapacidad?</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="handicapped">Sí</label>
                                    <input class="form-check-input" type="radio" id="handicapped" value="true"
                                        name="handicapped">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="handicapped">No</label>
                                    <input class="form-check-input" type="radio" id="handicapped" value="false"
                                        name="handicapped">
                                </div>
                            </div>
                            <div class="col">
                                <p>¿Divorciada?</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="divorced">Sí</label>
                                    <input class="form-check-input" type="radio" id="divorced" value="true"
                                        name="divorced">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="divorced">No</label>
                                    <input class="form-check-input" type="radio" id="divorced" value="false"
                                        name="divorced">
                                </div>
                            </div>
                            <div class="col">

                                <label for="custody" class="form-label">Tipo de custodia</label>
                                <select class="form-select" name="custody" id="custody">
                                    <option value="single parent">Monoparental</option>
                                    <option value="shared">Compartida</option>
                                    <option value="split">Partida</option>
                                    <option value="third party">Ejercida por terceros</option>
                                </select>

                            </div>

                        </div>

                    </div>

                    <div>

                        <h5>Reportes previos</h5>

                        <div class="row">

                            <div class="col">
                                <p>Servicios sociales</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="socialServices">Sí</label>
                                    <input class="form-check-input" type="radio" id="socialServices" value="true"
                                        name="socialServices">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="socialServices">No</label>
                                    <input class="form-check-input" type="radio" id="socialServices" value="false"
                                        name="socialServices">
                                </div>
                                <p>¿Se está realizando seguimiento?</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="tracing">Sí</label>
                                    <input class="form-check-input" type="radio" id="tracing" value="true"
                                        name="tracing">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="tracing">No</label>
                                    <input class="form-check-input" type="radio" id="tracing" value="false"
                                        name="tracing">
                                </div>
                            </div>

                            <div class="col">
                                <p>Policía</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="police">Sí</label>
                                    <input class="form-check-input" {{#if previousReport.police }}checked
                                        {{/if}}type="radio" id="police" value="true" name="police">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="police">No</label>
                                    <input class="form-check-input" {{#unless previousReport.police }}checked
                                        {{/unless}} type="radio" id="police" value="false" name="police">
                                </div>
                            </div>

                            <div class="col">
                                <p>Medidas Cautelares</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="precautionaryMeasures">Sí</label>
                                    <input class="form-check-input" type="radio" id="precautionaryMeasures" value="true"
                                        name="precautionaryMeasures">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="precautionaryMeasures">No</label>
                                    <input class="form-check-input" type="radio" id="precautionaryMeasures"
                                        value="false" name="precautionaryMeasures">
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="employmentSituation" class="form-label">Situación laboral</label>
                            <select class="form-select" name="employmentSituation">
                                <option value="employed">Empleada</option>
                                <option value="unemployed">Desempleada</option>
                            </select>
                        </div>

                        <div>

                            <h5>Ayudas sociales</h5>

                            <div class="row">

                                <div class="col">
                                    <p>Beneficios sociales</p>
                                    <div class="form-check">
                                        <label class="form-check-label" for="benefits">Sí</label>
                                        <input class="form-check-input" type="radio" id="benefits" value="true"
                                            name="benefits">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="benefits">No</label>
                                        <input class="form-check-input" type="radio" id="benefits" value="false"
                                            name="benefits">
                                    </div>
                                </div>
                                <div class="col">
                                    <p>Sistema de apoyo</p>
                                    <div class="form-check">
                                        <label class="form-check-label" for="supportSistem">Sí</label>
                                        <input class="form-check-input" type="radio" id="supportSistem" value="true"
                                            name="supportSistem">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="supportSistem">No</label>
                                        <input class="form-check-input" type="radio" id="supportSistem" value="false"
                                            name="supportSistem">
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col">
                                    <p>¿Necesita traductor?</p>
                                    <div class="form-check">
                                        <label class="form-check-label" for="translator">Sí</label>
                                        <input class="form-check-input" type="radio" id="translator" value="true"
                                            name="translator">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="translator">No</label>
                                        <input class="form-check-input" type="radio" id="translator" value="false"
                                            name="translator">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark block">Completar registro</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

</div>