<h1>Mi perfil</h1>
<div class="row justify-content-center d-flex"></div>
<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
            <h3 class="card-title">{{name}} {{lastname}}</h3>
            <p class="card-text "> Email: {{email}}</p>
            <p class="card-text "> Fecha de nacimiento: {{birthDate}}</p>
            <p class="card-text "> DNI: {{idDocument}}</p>
            <p class="card-text "> Nacionalidad: {{nationality}}</p>
            <p class="card-text ">Teléfono: {{phoneNumber}}</p>
            <p class="card-text ">Dirección: {{addresInfo}}, {{province}}, {{Ciudad}}, {{zipCode}}</p>
            <p class="card-text ">Apodo: {{username}}</p>
            <p class="card-text ">Teléfono de Emergencia: {{emergencyNumber}}</p>
            <p class="card-text ">Teléfono: {{phoneNumber}}</p>
        </div>
    </div>
</div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Datos familiares</h3>
                <p class="card-text ">Miembros en la unidad familiar: {{members}}</p>
                <p class="card-text ">Menores a cargo: {{childs}}</p>
                <p class="card-text ">Personas con discapacidad: {{handicapped}}</p>
                <p class="card-text ">Divorciada: {{divorced}}</p>
                <p class="card-text ">Tipo de custodia: {{custody}}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Reportes previos</h3>
                <p class="card-text ">Servicios sociales: {{socialServices}}</p>
                <p class="card-text ">Seguimiento: {{tracing}}</p>
                <p class="card-text ">Contacto con policía: {{police}}</p>
                <p class="card-text ">Medidas Cautelares: {{precautionaryMeasures}}</p>
                <p class="card-text ">Situación laboral: {{employmentSituation}}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Ayudas sociales</h3>
                <p class="card-text ">SBeneficios sociales: {{benefits}}</p>
                <p class="card-text ">Sistema de apoyo: {{supportSistem}}</p>
                <p class="card-text ">¿Necesita traductor?: {{translator}}</p>
            </div>
        </div>
    </div>
</div>