

<div class="container mt-5">
    
    <div class="row mt-4 d-flex">
        <div class="col-md-4 mb-2">
            <div class="justify-content-center d-flex"></div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="justify-content-center d-flex">
                <h2>{{user.name}} {{user.lastname}}</h2>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="mb-2 d-flex justify-content-center justify-content-md-end">
                <a href="/users/mi-perfil/editar/{{currentuserid}}">
                <input type="submit" class="btn btn-dark" value="Editar Perfil">
                </a>
            </div>
        </div>
        <hr>
    </div>


                <div class="row bg-blue20 rounded mb-1">
                    <div class="d-flex align-center justify-content-center col-md-4 bg-blue20">                    
                        <img src="{{user.imageUrl}}" class="img-fluid rounded-start" alt="{{user.name}}">
                    </div>
                    <div class="col-md-4 text-center p-4">

                        <h6>Email</h6>
                        <p>{{user.email}}</p>
                        <h6>Fecha de nacimiento</h6>
                        <p>{{user.my_birthDate}}</p>
                        <h6>DNI</h6>
                        <p>{{user.idDocument}}</p>
                        <h6>Nacionalidad</h6>
                        <p>{{user.nationality}}</p>
                            
                    </div>
                    <div class="col-md-4 text-center p-4 bg-blue20">
                        <h6>Teléfono</h6>
                        <p>{{user.phoneNumber}}</p>
                        <h6>Dirección</h6>
                        <p>{{user.address.addresInfo}}, {{user.address.city}},
                            {{user.address.province}}, {{user.address.zipCode}}</p>
                        {{#unless hasPermissions}}
                        <h6>Apodo</h6>
                        <p>{{user.username}}</p>
                        <h6>Teléfono de Emergencia</h6>
                        <p>{{user.emergencyNumber}}</p>
                        {{/unless}}
                    </div>
                </div>
    
    {{#unless hasPermissions}}

    <div class="row bg-blue20 rounded mb-3">

        <div class="col-md-4 p-4 pb-0 text-center">
            <h4 >Datos familiares</h4>
            <hr>
            <h6>Miembros en la unidad familiar</h6>
            <p >{{user.familyData.members}}</p>
            <h6>Menores a cargo</h6>
            <p >{{#if user.familyData.childs}}Sí{{else}}No{{/if}}</p>
            <h6>Personas con discapacidad</h6>
            <p >{{#if
                user.familyData.handicapped}}Sí{{else}}No{{/if}}</p>
            <h6>Divorciada</h6>
            <p >{{#if user.familyData.divorced}}Sí{{else}}No{{/if}}</p>
            <h6>Tipo de custodia</h6>
            <p >{{user.familyData.custody}}</p>
            
        </div>
    
        

        <div class="col-md-4 p-4 pb-0 text-center bg-blue20">
            <h4>Reportes previos</h4>
            <hr>
            <h6>Servicios sociales</h6>
            <p>{{#if user.previousReport.socialServices}}Sí{{else}}No{{/if}}</p>
            <h6>Seguimiento</h6>
            <p>{{#if user.previousReport.tracing}}Sí{{else}}No{{/if}}</p>
            <h6>Contacto con policía</h6>
            <p>{{#if user.previousReport.police}}Sí
                {{else}}No{{/if}}</p>
            <h6>Medidas Cautelares</h6>
            <p>{{#if user.previousReport.precautionaryMeasures}}Sí{{else}}No{{/if}}</p>
            <h6>Situación laboral</h6>
            <p>{{#if user.previousReport.employmentSituation}}Empleada{{else}}Desempleada{{/if}}</p>
        </div>
              



        <div class="col-md-4 p-4 pb-0 text-center">
            <h4>Ayudas sociales</h4>
            <hr>
            <h6>Beneficios sociales</h6>
            <p>{{#if user.socialHelp.benefits}}Sí{{else}}No{{/if}}</p>
            <h6>¿Dispone de un sistema de apoyo? <br> (Familia, amigos...)</h6>
            <p>{{#if user.socialHelp.supportSistem}}Sí{{else}}No{{/if}}</p>
            <h6>¿Necesita traductor?</h6>
            <p>{{#if user.translator}}Sí{{else}}No{{/if}}</p>
        </div>
    </div>
    {{/unless}}



</div>