<h1>Mi perfil</h1>
<div class="row justify-content-center d-flex"></div>
<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
            <h3 class="card-title">{{name}} {{lastname}}</h3>
            <p class="card-text text-capitalize"> Email: {{email}}</p>
            <p class="card-text text-capitalize"> Fecha de nacimiento: {{birthDate}}</p>
            <p class="card-text text-capitalize"> DNI: {{idDocument}}</p>
            <p class="card-text text-capitalize"> Nacionalidad: {{nationality}}</p>
            <p class="card-text text-capitalize">Teléfono: {{phoneNumber}}</p>
            <p class="card-text text-capitalize">Dirección: {{addresInfo}}, {{province}}, {{Ciudad}}, {{zipCode}}</p>
            <p class="card-text text-capitalize">Apodo: {{username}}</p>
            <p class="card-text text-capitalize">Teléfono de Emergencia: {{emergencyNumber}}</p>
            <p class="card-text text-capitalize">Teléfono: {{phoneNumber}}</p>
        </div>
    </div>
</div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Datos familiares</h3>
                <p class="card-text text-capitalize">Miembros en la unidad familiar: {{members}}</p>
                <p class="card-text text-capitalize">Menores a cargo: {{childs}}</p>
                <p class="card-text text-capitalize">Personas con discapacidad: {{handicapped}}</p>
                <p class="card-text text-capitalize">Divorciada: {{divorced}}</p>
                <p class="card-text text-capitalize">Tipo de custodia: {{custody}}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Reportes previos</h3>
                <p class="card-text text-capitalize">Servicios sociales: {{socialServices}}</p>
                <p class="card-text text-capitalize">Seguimiento: {{tracing}}</p>
                <p class="card-text text-capitalize">Contacto con policía: {{police}}</p>
                <p class="card-text text-capitalize">Medidas Cautelares: {{precautionaryMeasures}}</p>
                <p class="card-text text-capitalize">Situación laboral: {{employmentSituation}}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row justify-content-center d-flex"></div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Ayudas sociales</h3>
                <p class="card-text text-capitalize">SBeneficios sociales: {{benefits}}</p>
                <p class="card-text text-capitalize">Sistema de apoyo: {{supportSistem}}</p>
                <p class="card-text text-capitalize">¿Necesita traductor?: {{translator}}</p>
            </div>
        </div>
    </div>
</div>