<div class="container mt-2">
    <div class="row mt-4 d-flex">
        <div class="col-md-4 mb-2">
            <div class="justify-content-center d-flex"></div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="justify-content-center d-flex">
                <h2>Nuestros integradores</h2>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="mb-2 d-flex justify-content-center justify-content-md-end">
                <a href="/registro-integrador">
                    <input type="submit" class="btn btn-dark" value="Crear nuevo Integrador">
                </a>
            </div>
        </div>
        <hr>
    </div>

    <div class="row mt-4">

        {{#each socialWorkers}}
        <div class="col-md-4 mb-3">
            <div class="card  bg-blue20">
                <div class="card-body">

                    <div class="rounded bg-violet20 bg-opacity-10 p-2">
                    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">

                    </div>
                

                    <h3 class="card-title text-capitalize mt-3">{{name}} {{lastname}}</h3>
                    <p class="card-text">E-mail: {{email}}</p>
                    <p class="card-text">DNI: {{idDocument}}</p>
                    <p class="card-text">Teléfono: {{phoneNumber}}</p>
                    <div class="d-flex justify-content-center">
                        <form action="/users/integradores/borrar/{{_id}}" method="POST" style="display: inline">
                            <input type="submit" value="Eliminar" class="btn btn-danger">
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>

        {{/each}}
    </div>

</div>