<h1>Listado eventos</h1>
<hr>
<div class="row justify-content-center d-flex">
    {{#each issues}}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <img src="{{owner.imageUrl}}" class="card-img-top" alt="{{owner.name}}">
                <h2>{{owner.name}} {{owner.lastname}}</h2>
                <h3 class="card-title text-capitalize">{{agression}}</h3>
                <p class="card-text text-capitalize"> Descripción: {{description}}</p>
                <form action="/eventos/eliminar/{{_id}}" method="POST">
                    <input type="submit" value="Eliminar evento" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>