<h1>Listado eventos</h1>
<hr>
<div class="row justify-content-center d-flex">

    {{#each eventsByOwner}}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <img src="{{this.[0].owner.imageUrl}}" class="card-img-top" alt="{{this.[0].owner.name}}">
                    <h2>{{this.[0].owner.name}} {{this.[0].owner.lastname}}</h2>

                    {{#each this}}
                    <h3 class="card-title text-capitalize">{{agression}}</h3>
                    <p class="card-text text-capitalize"> Descripción: {{description}}</p>

                    {{#if ../../isAdmin}}
                        <form action="/eventos/eliminar/{{_id}}" method="POST">
                            <input type="submit" value="Eliminar evento" class="btn btn-danger">
                        </form>
                    {{/if}}
                    {{/each}}

                </div>
            </div>
        </div>
    {{/each}}
</div>